<% include partials/header%>
<link rel="stylesheet" href="/app.css">
<h1> The posts page </h1>
<% for (var i = 0; i < posts.length; i++) {%>
	<li><%= posts[i] %></li>
<%}%>
<form class=""  action="/addfriend" method="post">
	<input type="text" name="newfriend" placeholder="name">
	<button>Submit</button>

</form>
<% include partials/footer%>
